@font-face {
    font-family: 'montserrat';
    src: url(/assests/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'B-Davat';
    src: url(/assests/font/B-Davat.ttf);
}